<div>Test</div>

{% schema %}
{
  "name": "DigiFist2",
  "tag": "section",
  "class": "section",
  "settings":
  [
    {
      "type": "text",
      "id": "heading",
      "default": "Smarten up your work look or throw on a blazer with jeans for the weekenssd",
      "label": "Text1"
    },
    {
      "type": "text",
      "id": "desc",
      "default": "At suspendisse augue lectus arcu, accumsan ut sit posuere vitae sit tincidunt semper eu proin leo gravida cursus",
      "label": "Text2"
    },
    {
      "type": "image_picker",
      "id": "image1",
      "label": "Image1"
    },
    {
      "type": "image_picker",
      "id": "image2",
      "label": "Image2"
    },
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "name": "DigiFist Section-2"
    }
  ]
}
{% endschema %}