html a{
    text-decoration: none;
}
.digifistSection .container{
    max-width: 160rem;
    padding: 16rem 5rem;
    margin: 0 auto;
}
.digifistSection .container .section_row{
    display: flex;
    flex-flow: row wrap;
}
.digifistSection .container .section_row .col:nth-child(1){
    padding-right: 6rem;
    flex: 0 0 50%;
}
.digifistSection .container .section_row .col:nth-child(2){
    padding-left: 6.4rem;
    flex: 0 0 50%;
}
.digifistSection .container .section_row .col:nth-child(1) .text{
    padding-left: 6rem;
    margin: 6.9rem 0 0;
}
.digifistSection .container .section_row .col:nth-child(1) .text h3{
    font-family: 'ITC Avant Garde Gothic Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
    width: 500px;
}
.digifistSection .container .section_row .col:nth-child(1) .text .shop_btn{
    background: #000000;
    padding: 12px 24px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
}
.digifistSection .container .section_row .col:nth-child(1) .img{
    padding-left: 6rem;
    margin: 6.8rem 0 0;
    position: relative;
}
.digifistSection .container .section_row .col:nth-child(1) .img img{
    width: 600px;
}
.digifistSection .container .section_row .col:nth-child(2) .img img{
    width: 600px;
}
.digifistSection .container .section_row .col:nth-child(2) .miniCard{
    position: absolute;
    bottom: 2.4rem;
    right: 2.4rem;
    z-index: 3;
    background: #ffff;
}
.digifistSection .container .section_row .col:nth-child(2) .go_pdp{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
    min-width: 28.8rem;
    height: auto;
    padding: 0.5rem 0.5rem 0.5rem 1.6rem;
}
.digifistSection .container .section_row .col:nth-child(2) .go_pdp .product{
    display: block;
    flex: 1;
    padding-right: 4rem;
}
.digifistSection .container .section_row .col:nth-child(2) .go_pdp .product_title{
    margin: 0 0 0.5rem;
}
.digifistSection .container .section_row .col:nth-child(2) .go_pdp .price{
    color: red;
}
.digifistSection .container .section_row .go_pdp .product_img{
    width: 6.2rem !important;
}
