*{
    box-sizing: inherit;
}
html a{
    text-decoration: none;
}




.digifistSection .container{
    max-width: 160rem;
    margin: 0 auto;
    padding: 6.4rem 2.4rem ;
}
@media screen and (min-width: 990px){
    .digifistSection .container{
        padding: 16rem 5.6rem;
    }
    .digifistSection .container .section_row .col:nth-child(1) .text{
        padding-left: 12.4rem;
        margin: 6.9rem 0 9.6rem 0;
    }
    .digifistSection .container .section_row .col:nth-child(1) .img img{
        width: 600px;
    }
    .digifistSection .container .section_row{
        display: flex;
    }
    .digifistSection .container .section_row .col:nth-child(1) .text h3{
        width: 500px;
    }
    .digifistSection .container .section_row .col:nth-child(2){
        display: none;
    }
}




@media screen and (max-width: 480px){
    .digifistSection .container .section_row .col:nth-child(1) .img img{
        display: none;
    }
    .digifistSection .container .section_row .col:nth-child(3) .img img{
        display: none;
    }
    .digifistSection .container .section_row .col:nth-child(3) .miniCard{
        display: none;
    }
    .mobile{
        display: block !important;
        position: absolute;
        bottom: 16px;
        right: 16px;
    }
    .product_img{
        padding: 3px;
        background: #FFFFFF;
    }
    .mobile .product{
        display: none !important;
    }
    .swiper-image{
        position: relative;
    }
    .digifistSection .container .section_row .col:nth-child(3){
        padding-left: 0!important;
    }
    .digifistSection .container .section_row .col:nth-child(3) .text .more{
        text-decoration: underline;
        text-underline-offset: 8px;
        color: #000000;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 900;
        font-size: 14px;
    }
    .digifistSection .container .section_row .col:nth-child(3) .text h3{
        margin: 32px 0 24px 0 !important;
        font-family: 'Avenir';
        font-style: normal;
        font-weight: 400;
        font-size: 16px !important;
        line-height: 160%;
        color: #666666;
    }
}


.digifistSection .container .section_row .col:nth-child(1){
    padding-right: 6.4rem;
    flex: 0 0 50%;
}
.digifistSection .container .section_row .col:nth-child(3){
    padding-left: 6.4rem;
    flex: 0 0 50%;
}

.digifistSection .container .section_row .col:nth-child(1) .text h3{
    font-family: ITC Avant Garde Gothic Pro;
    line-height: 130%;
    font-style: normal;
    font-weight: 700;
    font-size: 39px;
}
.digifistSection .container .section_row .col:nth-child(1) .text .shop_btn{
    background: #000000;
    color: #FFFFFF;
    padding: 12px 24px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 12px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
}
.digifistSection .container .section_row .col:nth-child(1) .text .shop_btn svg{
    width: 7px;
    height: 13px;
    margin-left: 16.5px;
}
.digifistSection .container .section_row .col:nth-child(1) .img{
    padding-left: 6rem;
    margin: 6.8rem 0 0;
}
.digifistSection .container .section_row .col:nth-child(1) .img img{
    width: 600px;
}
.digifistSection .container .section_row .col:nth-child(3) .img img{
    width: 600px;
}
.digifistSection .container .section_row .col:nth-child(3) .img{
    position: relative;
}
.digifistSection .container .section_row .col:nth-child(3) .miniCard{
    position: absolute;
    bottom: 46px;
    right: 113px;
    z-index: 999;
    background: #ffff;
}
.digifistSection .container .section_row .col:nth-child(3) .go_pdp{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: auto;
    min-width: 28.8rem;
    height: auto;
    padding: 0.5rem 0.5rem 0.5rem 1.6rem;
}
.digifistSection .container .section_row .col:nth-child(3) .go_pdp .product{
    display: block;
    flex: 1;
    padding-right: 4rem;
}
.digifistSection .container .section_row .col:nth-child(3) .go_pdp .product_title{
    color: #000000;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 12.8px;
    line-height: 17px;}
.digifistSection .container .section_row .col:nth-child(3) .go_pdp .price{
    color: #666666;
}
.digifistSection .container .section_row .go_pdp .product_img{
    width: 6.2rem !important;
}
.digifistSection .container .section_row .col:nth-child(3) .text{
    margin: 128px 0 59px 56px;
}
.digifistSection .container .section_row .col:nth-child(3) .text h3{
    margin: 0 0 32px 0;
    max-width: 432px;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: #666666;
}
.digifistSection .container .section_row .col:nth-child(3) .text .more{
    text-decoration: underline;
    text-underline-offset: 8px;
    color: #000000;
    font-family: 'Avenir';
    font-style: normal;
    font-weight: 900;
    font-size: 16px;
    line-height: 22px;
}

.mySwiper .swiper-image{
    width: 240px;
}



